/* CSS Document */


body {
	background-color:#fff;
	margin: 0 auto;
	min-width: 600px;
	min-height:800px;
	margin-top:10px;

	}

hr {
	color:#333;
	width:800px;
	}

table {
	border-color:#FFF;
	-moz-box-shadow: 7px 7px 7px # CCC;
	-webkit-box-shadow: 7px 7px 7px #ccc;
	box-shadow: 7px 7px 7px #ccc;
	transition: color .5s ease-in;
	-moz-transition: color .5s ease-in;
	-o-transition: color .5s ease-in;
	-webkit-transition: color .5s ease-in;
	}	

h1 {
	position:relative; 
	left:10px; 
	font-family:arial;
	text-shadow: 1px 1px 4px #ccc;
	font-size: 2.1em;
	color:#00748b;
	}

p {
	position:relative; 
	left:10px; 
	color:gray; 
	font-family:arial; 
	font-weight:bold
	}

	  
.alert {
   display:none;
   position:absolute;
   z-index:100;
   top:200px;
   left:0px;
   clear:both;
   width:420px;
   background-color:white;
   border-style:solid;
   border-width:1px;
   padding:15px 20px 5px 20px;
   text-align:center;
   -moz-box-shadow: 5px 5px 2px #000;
   -webkit-box-shadow: 5px 5px 2px #000;
    box-shadow: 5px 5px 2px #000;
	opacity:0.95;
   }

.box {
	position:absolute;
	left:0px;
	top:0px;
	clear:both;
}
   
div#instructions {
	position:relative;
	width:500px;
	left:50px;
	font-size:18px;
	text-shadow: 1px 1px 4px #ccc;
	}

.button {
	color:white; 
	font-family:arial; 
	font-weight:bold;
	font-size:15px;
	height:30px;
	width:150px;
	background-color:#00748b;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	transition: background-color .5s ease-in;
	-moz-transition: background-color .5s ease-in;
	-o-transition: background-color .5s ease-in;
	-webkit-transition: background-color .5s ease-in;
	-moz-box-shadow: 2px 2px 1px #333;
	-webkit-box-shadow: 2px 2px 1px #333;
	box-shadow: 2px 2px 1px #333;
	cursor:pointer;
	
	}
	
.button:hover {
	background: #ccc;  
	transition: background-color .5s ease-in;
	-moz-transition: background-color .5s ease-in;
	-o-transition: background-color .5s ease-in;
	-webkit-transition: background-color .5s ease-in; 
	}	
	